.navbar {
	-webkit-transition: all 0.125s ease-in-out 0s;
	   -moz-transition: all 0.125s ease-in-out 0s;
		-ms-transition: all 0.125s ease-in-out 0s;
		 -o-transition: all 0.125s ease-in-out 0s;
			transition: all 0.125s ease-in-out 0s;
}

.navbar {
	background: #274472;
	border-radius: 0;
	border: 0;
	padding: 20px 0;
	text-transform: uppercase;
	color: #FFF !important;
}

.navbarlogo {
    background: none;
}

.navbar-custom .nav li a:hover,
.navbar-custom .nav li a:focus,
.navbar-custom .nav li.active {
	background: #2e4f85;
	outline: 0;
	color: #FFF;
}

.navbar-custom .navbar-brand {
	font: 700 18px/1.2 'Montserrat', serif, sans-serif;
	color: #FFF;
}

.navbar-custom .navbar-nav > li.active {
	border-bottom: 3px solid #FFF;
}

.navbar-custom .navbar-toggle .icon-bar {
	background: #FFF;
}

.navbar-custom .navbar-nav > li > a,
.navbar-custom .navbar-nav .dropdown-menu > li > a {
	color: #FFF;
	font-size: 12px;
}

.navbar-color,
.custom-collapse {
	background: #FFF;
	box-shadow: 0 0 4px rgba(0, 0, 0, .2);
	padding: 0;
}

.navbar-color .navbar-brand,
.custom-collapse .navbar-brand,
.navbar-color .navbar-nav > li > a,
.navbar-color .navbar-nav .dropdown-menu > li > a,
.custom-collapse .navbar-nav > li > a,
.custom-collapse .navbar-nav .dropdown-menu > li > a {
	color: #222;
}

.navbar-color .navbar-nav > li.active {
	border-bottom: 3px solid #222;
}

.custom-collapse .navbar-nav {
	text-align: left;
}

.custom-collapse .navbar-nav > li.active {
	border: 0;
}

.navbar-color .navbar-toggle .icon-bar,
.custom-collapse .navbar-toggle .icon-bar {
	background: #222;
}

.oram-logo {
  float: left;
  max-width: 50px;
}

@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) {
    .content-links {
      height: 75px;
    }
    .content-link {
      font-size: 32px;
    }
    .navbar-nav > li > a {
      line-height: normal;
    }

}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    top: 50px;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}