
.navbar {
  background-color: #274472;
  margin: 0;
  padding-top: 5px;
  padding-bottom: 5px;
  border: 0;
  font-family: 'Hind';
}

.oram-logo {
  float: left;
  max-width: 40px;
}

.navbar-default .navbar-nav > li > a {
  color: white;
  font-family: 'Hind';
  
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: #63b2f5;
}

.content-links {
	height: 50px;
	width: 100%;
	background-color: 'white';
	font-family: 'Hind';
}

.content-link {
	display: inline-block;
}

.nav > li {
	display: inline-block;
	float: none;
}

@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) {
    .content-links {
      height: 75px;
    }
    .content-link {
      font-size: 32px;
    }
    .navbar-nav > li > a {
      line-height: normal;
    }

}