html, body {
	width: 100%;
	height: 100%;
	margin: 0px;
	padding: 0px;
}

#case_tracking_status {
	width: 100%;
	height: 150px;
	margin-left: 0%;
 	margin-top: 2.5%;
}

#case_tracking_status #status_text {
	width: 90%;
	height: 25%;
	top: 10% ;
	position: relative;
	margin: 0px;
	margin-left: 5%;
	padding: 0px;
	text-align: center;
	font-size: 30px;
}

#case_tracking_status #design_bar {
	// background-color: black;
	width: 90%;
	height: 45%;
	border-radius: 10px;
	margin-left: 5%;
	top: 15%;
	position: relative;
}

#case_tracking_status #design_bar_interior {
	background-color: #EEEEEE;
	border-radius: 50px 50px 50px 50px;
	width: 80%;
	height: 80%;
	// border-radius: 8px;
	 margin-left: 10.25%;
	top: 10%;
	position: relative;
}

#case_tracking_status #status_bar {
	background-color: rgb(51, 122, 183);
	width: 16.66%;
	height: 85%;
	border-radius: 30px 30px 30px 30px;
	margin-left: 1%;
	margin-right: 1%;
	top: 7%;
	position: relative;
}

////////////////////////////// NEW BAR /////////////////////////////////////////
